@keyframes card-flip-scale {
  0% {
    transform: scale(2);
    opacity: 0;
    box-shadow: 0px 0px 50px rgba(59, 130, 246, 0.5);
  }
  50% {
    transform: translate(0px, -5px) scale(1);
    opacity: 1;
    box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.5);
  }
  100% {
    transform: translate(0px, 5px) scale(0.1);
    opacity: 0;
    box-shadow: 0px 10px 20px rgba(59, 130, 246, 0);
  }
}

.card-flip-animation-item {
  animation: card-flip-scale 3s linear infinite;
}

.card-flip-animation-item:nth-child(1) {
  animation-delay: 0s;
}
.card-flip-animation-item:nth-child(2) {
  animation-delay: 0.3s;
}
.card-flip-animation-item:nth-child(3) {
  animation-delay: 0.6s;
}
.card-flip-animation-item:nth-child(4) {
  animation-delay: 0.9s;
}
.card-flip-animation-item:nth-child(5) {
  animation-delay: 1.2s;
}
.card-flip-animation-item:nth-child(6) {
  animation-delay: 1.5s;
}
.card-flip-animation-item:nth-child(7) {
  animation-delay: 1.8s;
}
.card-flip-animation-item:nth-child(8) {
  animation-delay: 2.1s;
}
.card-flip-animation-item:nth-child(9) {
  animation-delay: 2.4s;
}
.card-flip-animation-item:nth-child(10) {
  animation-delay: 2.7s;
}

.card-flip-feature-item {
  transform: translateX(-10px);
  opacity: 0;
  transition: all 0.5s ease;
}

.card-flip-feature-item.flipped {
  transform: translateX(0);
  opacity: 1;
}

.card-flip-feature-item:nth-child(1).flipped {
  transition-delay: 200ms;
}
.card-flip-feature-item:nth-child(2).flipped {
  transition-delay: 300ms;
}
.card-flip-feature-item:nth-child(3).flipped {
  transition-delay: 400ms;
}
.card-flip-feature-item:nth-child(4).flipped {
  transition-delay: 500ms;
}
.card-flip-feature-item:nth-child(5).flipped {
  transition-delay: 600ms;
}
